@import "tailwindcss";

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
}

.container{
  width : 90%;
  margin: auto;
}

header .top-strip{
  border: 1px solid rgba(0,0,0,1);
  border-bottom: 1px solid rgba(0,0,0,1);
} 

.bg-primary{
  background: #ff5252;
}

.link:hover {
  
}