@import "tailwindcss";


body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #D6CFC7 ;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
}

.container{
  width : 95%;
  margin: auto;
}

header .top-strip{
  
} 

.bg-primary{
  background: #ff5252;
}

.link:hover {
  color: #ff5252;
}

.MuiBadge-badge {
  background-color: green !important;
}